*{
  box-sizing: border-box;
  font-family: 'Caveat';
}

@font-face {
  font-family: "LunchFox";
  src: url('/assets/fonts/Lunch_Fox.otf') format('opentype'),
        url('/assets/fonts/Lunch_Fox.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Caveat";
  src: url('/assets/fonts/Caveat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caveat";
  src: url('/assets/fonts/Caveat-SemiBold.ttf') format('truetype');
  font-weight: SemiBold;
  font-style: normal;
}
@font-face {
  font-family: "Caveat";
  src: url('/assets/fonts/Caveat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to right, #8CAFC8 0%, #C3DEDE 30%, #C3DEDE 70%, #8CAFC8 100%);

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



/* 上横栏样式 */

.MenuFrame {
  border: 2px solid #CDE1F5;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15%;
}
.Icon{
  transition: transform 0.3s ease;
  width: 55%;
}
.Icon:hover{
  transform: scale(1.2);
}

.FractionalFrame{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
  height: 80%;
  position: relative;
  top: 15%;
}
.Score{
  border: 2px solid #CDE1F5;
  border-radius: 40px; 
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: bolder;
  color:#FFF0F0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.point{
  width: 0.7rem;
  height: 0.7rem;
  background-color: #8CEBDC;
  border-radius: 10rem;
  margin-right: 10px;
}
.hint{
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer{
  position: relative;
  display: flex;
  border-radius: 40px;
  width: 100%;
  height: 17.5%;

  justify-content: space-around;
}

/* 下右栏样式 */

